/* Font includes */
/* @import 'https://fonts.googleapis.com/css...'; */

/* Light */
/* @font-face {
  font-display: auto;
  font-family: 'Circular';
  font-style: normal;
  font-weight: 350;
  src: url('/fonts/CircularSpotifyText-Book.woff2') format('woff2'),
    url('/fonts/CircularSpotifyText-Book.woff') format('woff'),
    url('/fonts/CircularSpotifyText-Book.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/CircularSpotifyText-Book.ttf') format('truetype');
} */
